<label>You have created a new profile</label>
<label>Name : <%= Profile.last.name %></label>
<label>Speech ID : <%= Profile.last.speech_id %></label>
<label>language : <%= Profile.last.language %></label>