<label>You have successfully enrolled a profile</label>
<%# <label>Name : <%= @enroll_name %></label> %>
<%# <label>Operation Status : <%= @operationnal_status %></label> %>
<%# <label>Enrollement Status : <%= @enrollement_status %></label> %>