<!DOCTYPE html>
<html lang="en">
<br>
<div class="container" align="center">
<div class="form-group col-md-4 container mt-3">
<br>
<h1 class="m-1 fs-50 fw-300" id="subForm">You have created an enrollement</h1>
<hr>
<br>
<label><strong>Name :</strong> <%= @enrollement_name %></label>
<br>
<label><strong>Operation Status :</strong> <%= @operationStatus %></label>
<br>
<label><strong>Enrollement Status :</strong> <%= @enrollementStatus %></label>
<br>
<br>
<br>
</div>
</div>
