<!DOCTYPE html>
<html lang="en">
<br>
<div class="container" align="center">
<div class="form-group col-md-4 container mt-3">
<br>
<h1 class="m-1 fs-50 fw-300" id="subForm">You have deleted the profile</h1>
<hr>
<br>
<label><strong>Language :</strong> <%= @language %></label>
<br>
<label><strong>Name :</strong> <%= @name %></label>
<br>
<label><strong>Profile_id :</strong> <%= @profile_id %></label>
<br>
<br>
<br>
</div>
</div>