<!DOCTYPE html>
<html lang="en">
<br>
<div class="container" align="center">
<div class="form-group col-md-4 container mt-3">
<br>
<h1 class="m-1 fs-50 fw-300" id="subForm">Identified profile</h1>
<hr>
<br>
<label>Identified profile Id : <%= @identifiedId %></label>
<br>
<label>Identification operation status : <%= @operationnal_status %></label>
<br>
<label>Identification confidence level : <%= @confidence %></label>
<br>
<label>Text :</label>
<br>
<label><%= @text %></label>
<br>
<br>
<br>
</div>
</div>